$nav-background-color: #3780EF;
$main-color: #3780EF;

$btn-primary-color:#3596FF;
$btn-danger-color:#f56c6c;

///////////////
$color-primary: #3596FF; //主色
$color-danger: #ff5b6a; //危险颜色
$color-stripe: #f7f9ff; //表格的斑马纹

$color-text-primary: #303133; //主要文本颜色
$color-text-regular: #555555; //常规文字颜色
$color-text-extra: #aaaaaa; //辅助文字颜色

$font-size-extra-large: 18px; //主标题文字大小
$font-size-medium: 16px; //小标题文字大小
$font-size-base: 15px; //正文文字大小
$font-size-small: 14px; // 正文（小）文字大小
$font-size-extra-small: 14px; // 辅助文字大小

$border-color-base: #cad1db; // 一级边框颜色
$border-color-lighter: #EBEEF5; // 3级边框颜色


// 以下涉及业务颜色

$sub-nav-oclor: #EEF6FF;
$flow-type-count: #f97c59